<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="re" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{URL}" pattern="^(/PRODUCT/|/CMS/|/ACCOUNT/|/REGNPAY/|/ORDER/|/EVENT/|/PHOTO/|/ADMIN|/PAYMENT)(.*)$" />
                        <add input="{HTTP_USER_AGENT}" pattern="(Baiduspider|YisouSpider|Googlebot|AdsBot|Sogou|360spider|bingbot|HaosouSpider|Sosospider|Yahoo|facebookexternalhit|Facebot|WhatsApp)(.*)$" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="?returnUrl={R:0}" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/index.html" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
