/* style3字體庫 */

@font-face {
    font-family: 'SourceHanSansCN-Regular';
    src: url('../fonts/SourceHanSansCN-Regular.otf') format('OpenType'), url('../fonts/SourceHanSansCN-Regular.ttf') format('truetype'), url('../fonts/SourceHanSansCN-Regular.eot') format('embedded-opentype'), url('../fonts/SourceHanSansCN-Regular.woff') format('woff');
}

@font-face {
    font-family: 'SourceHanSansCN-Bold';
    src: url('../fonts/SourceHanSansCN-Bold.otf') format('OpenType'), url('../fonts/SourceHanSansCN-Bold.ttf') format('truetype'), url('../fonts/SourceHanSansCN-Bold.eot') format('embedded-opentype'), url('../fonts/SourceHanSansCN-Bold.woff') format('woff');
}